.projetos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.projetos .projet-img{
    width: 250px;
    border: 1px solid #000;
}

.projetos .item-projet:not(:last-child){
    margin-right: 5px;
}

@media (min-width:1280px){
    .item-projet img {
        -webkit-transition: all 1s ease;
        /* Safari and Chrome */
        -moz-transition: all 1s ease;
        /* Firefox */
        -o-transition: all 1s ease;
        /* IE 9 */
        -ms-transition: all 1s ease;
        /* Opera */
        transition: all 1s ease;
    }
    .item-projet:hover img {
        -webkit-transform: scale(2);
        /* Safari and Chrome */
        -moz-transform: scale(2);
        /* Firefox */
        -ms-transform: scale(2);
        /* IE 9 */
        -o-transform: scale(2);
        /* Opera */
        transform: scale(2);
    }
}